<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
    var map;
    var directionsService = new google.maps.DirectionsService();
    function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: 12.9667, lng: 77.5667} //Bangalore
        });
        addMarkers(map, hospitalsAndStations);
        plotSpots();
        var colors = ["#1569C7","#3EA055"];
        $.get('/safe_routes', function (data) {
            $.each(data, function (i, value) {
                var startLatLng = new google.maps.LatLng(value["bounds"][0]["lat"], value["bounds"][0]["lng"]);
                var endLatLng = new google.maps.LatLng(value["bounds"][1]["lat"], value["bounds"][1]["lng"]);
                var directionsDisplay = new google.maps.DirectionsRenderer({
                    polylineOptions: {
                        strokeColor: colors[i]
                    },
                    infoWindow: new google.maps.InfoWindow({
                        content: "This is a test"
                    })
                });
                directionsDisplay.setMap(map);
                calcRoute(directionsDisplay, startLatLng, endLatLng);
            });
        });
    }
    var hospitalsAndStations = {
        "hospitals": [
            {name: "Hosmat Hospital", lat: 12.969034, lng: 77.61346},
            {name: "Vydehi Institute of Medical Sciences & Research Centre", lat: 12.975227, lng: 77.729292},
            {name: "Nethradhama Superspeciality Eye Hospital", lat: 12.925255, lng: 77.577397},
            {name: "Minto Eye Hospital", lat: 12.96106, lng: 77.572304},
            {name: "Victoria Hospital", lat: 12.963389, lng: 77.573819},
            {name: "Santosh Hospital", lat: 12.995935, lng: 77.608243},
            {name: "VIMS Super Specialty Hospital", lat: 12.948331, lng: 77.699554},
            {name: "Koshys Hospital", lat: 13.02072, lng: 77.676049},
            {name: "Fortis Hospital", lat: 12.959549, lng: 77.511308},
            {name: "Bangalore Hospital", lat: 12.937709, lng: 77.580417},
            {name: "Bowring and Lady Curzon Hospital", lat: 12.982166, lng: 77.604277},
            {name: "NU Hospitals", lat: 12.917925, lng: 77.555762},
            {name: "Shekhar Hospital", lat: 12.945947, lng: 77.567472},
            {"lat": 12.957418, "lng": 77.605047, "name": "Dr Agarwal Hospitals"},
            {"lat": 13.050969, "lng": 77.593799, "name": "Columbia Asia Hospital - Hebbal"},
            {"lat": 12.936326, "lng": 77.5833, "name": "Ramakrishna Super Speciality Hospital"},
            {"lat": 12.996391, "lng": 77.56931, "name": "K. C. General Hospital"},
            {"lat": 12.963053, "lng": 77.59974, "name": "Sita Bhateja Speciality Hospital"},
            {"lat": 13.000993, "lng": 77.563984, "name": "Manipal Northside Hospital"},
            {"lat": 12.961448, "lng": 77.574009, "name": "Vanivilas Hospital"},
            {"lat": 12.996812, "lng": 77.582275, "name": "Manipal Hospital"},
            {"lat": 13.032268, "lng": 77.57698, "name": "Rajmahal Vilas Hospital"},
            {"lat": 12.943415, "lng": 77.579414, "name": "Trinity Hospital and Heart Foundation"},
            {"lat": 12.973458, "lng": 77.75108, "name": "Sri Sathya Sai General Hospital"},
            {"lat": 12.968064, "lng": 77.595068, "name": "Mallya Hospital"},
            {"lat": 12.928003, "lng": 77.599599, "name": "Sagar Hospitals"}
        ],
        "stations": [
            {"name": "Kumaraswamy Layout Police Station", "lat": 12.905195, "lng": 77.562854},
            {"name": "Chamrajpet Police Station", "lat": 12.960552, "lng": 77.564262},
            {"name": "Banaswadi Police Station", "lat": 13.01979, "lng": 77.640215},
            {"name": "Yeshwanthpur Police Station", "lat": 13.018333, "lng": 77.5581},
            {"name": "Hebbal Police Station", "lat": 13.038443, "lng": 77.589567},
            {"name": "Rajarajeshwari Nagar Police Station", "lat": 12.912868, "lng": 77.520571},
            {"name": "Kadugodi Police Station", "lat": 12.99546, "lng": 77.757762},
            {"name": "Indira Nagar Police Station", "lat": 12.98297, "lng": 77.6383},
            {"name": "Yelahanka Police Station", "lat": 13.095086, "lng": 77.594044},
            {"name": "City Crime Branch", "lat": 12.964541, "lng": 77.569778},
            {"name": "Jagajevanarama Nagar Police Station", "lat": 12.964313, "lng": 77.555203},
            {"name": "Jeevan Bima Nagar Police Station", "lat": 12.967698, "lng": 77.655932},
            {"lat": 12.941151, "lng": 77.62138, "name": "Koramangala Police Station"},
            {"lat": 12.974802, "lng": 77.6253, "name": "Ulsoor Police Station"},
            {"lat": 12.910269, "lng": 77.481229, "name": "Kengeri Police Station"},
            {"lat": 12.982521, "lng": 77.60701, "name": "Commercial street Police Station"},
            {"lat": 12.936087, "lng": 77.544004, "name": "Girinagar police station"},
            {"lat": 12.974536, "lng": 77.551508, "name": "Magadi Road Police Station"},
            {"lat": 12.942111, "lng": 77.5742, "name": "Basavanagudi Police Station"},
            {"lat": 12.990124, "lng": 77.56448, "name": "Srirampuram Police Station"},
            {"lat": 12.962817, "lng": 77.537894, "name": "Vijayanagar Traffic Police Station"},
            {"lat": 13.014909, "lng": 77.572545, "name": "Sadashiv Nagar Police Station"},
            {"lat": 12.982205, "lng": 77.531967, "name": "Kamakshipalya Police Station"},
            {"lat": 12.876624, "lng": 77.600051, "name": "Hulimavu Police Station"},
            {"lat": 12.911958, "lng": 77.587772, "name": "JP Nagar Police Station"},
            {"lat": 13.005555, "lng": 77.593513, "name": "JC Nagar Police Station"},
            {"lat": 12.908561, "lng": 77.610654, "name": "Mico Layout Police Station"},
            {"lat": 13.033343, "lng": 77.588477, "name": "R.T.Nagar Traffic Police Station"},
            {"lat": 12.963082, "lng": 77.592155, "name": "Sampangi Rama Nagar Police Station"},
            {"lat": 12.996645, "lng": 77.569587, "name": "Malleswaram Police Station"},
            {"lat": 12.967567, "lng": 77.654333, "name": "Jeevan Bima Nagar Traffic Police Station"},
            {"lat": 13.024728, "lng": 77.593199, "name": "R T Nagar Police station"},
            {"lat": 12.970477, "lng": 77.537692, "name": "Vijayanagar Police Station"},
            {"lat": 12.826311, "lng": 77.682121, "name": "Hebbagodi Police Station"},
            {"lat": 12.922885, "lng": 77.565237, "name": "Police Station Banashankari"},
            {"lat": 12.951594, "lng": 77.622281, "name": "Viveknagar Police station"},
            {"lat": 13.064325, "lng": 77.583854, "name": "Sahakara Nagar Police Outpost"},
            {"lat": 12.989797, "lng": 77.592759, "name": "High Grounds Police Station"},
            {"lat": 12.941517, "lng": 77.608583, "name": "Adugodi Police Station"},
            {"lat": 12.950098, "lng": 77.59611, "name": "Wilson Garden Police Station"},
            {"lat": 12.991255, "lng": 77.612163, "name": "Bharthinagar Police Station"},
            {"lat": 12.938137, "lng": 77.747009, "name": "Varthur Police Station"},
            {"lat": 12.778988, "lng": 77.771122, "name": "Attibele Police Station"},
            {"lat": 12.999442, "lng": 77.619737, "name": "Pulikeshi Nagar Police Station"},
            {"lat": 12.975955, "lng": 77.597852, "name": "Cubbon Park Traffic Police Station"},
            {"lat": 13.001545, "lng": 77.578651, "name": "Vyalikaval Police Station"},
            {"lat": 13.002734, "lng": 77.527321, "name": "Rajagopal Nagar Police Station"},
            {"lat": 13.308415, "lng": 77.53792, "name": "Rural Police Station"},
            {"lat": 12.985402, "lng": 77.542474, "name": "Basaveshwaranagar Police Station"},
            {"lat": 12.953437, "lng": 77.570048, "name": "Shankarapuram Police Station"},
            {"lat": 12.813585, "lng": 77.581265, "name": "Bannerghatta Police Station"},
            {"lat": 13.173738, "lng": 77.564218, "name": "Rajanukunte Police Station"}


        ]
    };

    function addLocationBasedMarkers(map, locations, iconUrl) {
        $.each(locations, function(i, data) {
            var image = new google.maps.MarkerImage(iconUrl, null, null, null, new google.maps.Size(25, 25));
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(data.lat,data.lng),
                icon: image,
                map: map
            });
            var infoWindow = new google.maps.InfoWindow({
                content: data.name
            });
            google.maps.event.addListener(marker, 'click', function (e) {
                infoWindow.setPosition(e.latLng);
                infoWindow.open(map);
            });
        });
    }

    function addMarkers(map, hospitalsAndStations) {
        addLocationBasedMarkers(map, hospitalsAndStations.hospitals, 'https://maps.google.com/mapfiles/kml/shapes/hospitals.png');
        addLocationBasedMarkers(map, hospitalsAndStations.stations, 'https://maps.google.com/mapfiles/kml/shapes/police.png');
    }

    function calcRoute(directionsDisplay, start, end) {
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                console.log("response", response);
                directionsDisplay.setDirections(response);
            }
        });
    }

    function plotSpots() {
        var locations = [];
        var colors = {"high": "#f03", "medium": "#FFA500"};
        $.get('/plot', function (data) {
            $.each(data["documents"], function (i, location) {
                locations[i] = [location["lat"], location["long"], location["occurences"]];
            });
            $.each(locations, function (i, location) {
                var color = "";
                if (parseInt(location[2]) < 5) {
                    color = colors.medium
                } else {
                    color = colors.high
                }
                var markerOptions = {
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: color,
                    fillOpacity: 0.35,
                    map: map,
                    center: new google.maps.LatLng(location[0], location[1]),
                    radius: 600
                };
                var circle = new google.maps.Circle(markerOptions);
                var infoWindow = new google.maps.InfoWindow({
                    content: "Occurences : " + location[2]
                });
                google.maps.event.addListener(circle, 'click', function (e) {
                    infoWindow.setPosition(e.latLng);
                    infoWindow.open(map);
                });
            });
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>